.icon__hide {
  color: #dd4646;
}

.note {
  background-color: var(--bkg-shade);
  max-width: 600px;
  padding: 20px 28px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 1.3rem;

  &.note--inputs {
    max-width: 400px;
    margin-bottom: 12px;
  }
}

.deactivate {
  background-color: var(--bkg-shade);
  display: flex;
  max-width: 400px;
  padding: 24px 2.3rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border-radius: 8px;

  .list--deactivate {
    color: var(--text-subtext);
    padding-top: 1.6rem;
    padding-bottom: 0.9rem;
    padding-left: 1.3rem;
  }

  .list__item {
    padding-top: 0.3rem;
    padding-bottom: 0.6rem;
    color: rgba(111, 111, 144, 0.59);
    font-size: 14px;
    font-weight: 400;
  }

  .btn--deactivate {
    color: #ec4040;
    &:hover {
      text-decoration: underline;
    }
  }
}

.post__video {
  position: relative;
  overflow: hidden;
  padding-bottom: 56%;
  flex: 1;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #fafafa;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
