.content-wrapper {
  padding: 3rem 2rem;

  @media(max-width: 575px) {
    padding: 3rem 1rem;
  }
}

.dashboard-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.dashboard-header-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  gap: 2rem;
  font-family: Fredoka, sans-serif;

  @media(max-width: 479px) {
    gap: 1rem;
  }

  .border-bottom {
    border-color: #e6e6e6;
  }

  h2 {
    font-size: 24px;
    margin: 0;
  }

  .icon {
    font-family: 'Fa solid 900', sans-serif;
    color: #6f6f90;
    font-size: 18px;
  }

  .circle-wrap {
    display: flex;
    align-items: center;
    gap: .5rem;

    span {
      font-family: Fredoka, sans-serif;
      color: #6f6f90;
      font-size: 16px;
      font-weight: 500;
    }

    .circle {
      width: 12px;
      height: 12px;
      background-color: #ff9c40;
      border-radius: 50%;
    }
  }

  .icon-wrap {
    display: flex;
    align-items: center;
    gap: .5rem;

    span {
      font-family: Fredoka, sans-serif;
      color: #6f6f90;
      font-size: 16px;
      font-weight: 500;
    }

  }

  .note-wrap {
    gap: 1rem;
    padding: 21px 28px;
    border-radius: 6px;
    color: #45bb82;
    font-size: 13px;
    line-height: 1.3rem;
    font-weight: 400;
    background-color: #f8fafd;
    display: inline-flex;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 700;

    @media(max-width: 479px) {
      margin-bottom: 15px;
    }
  }

  .count {
    display: block;
    color: rgba(151, 150, 177, .78);
    font-size: 16px;
    font-weight: 500;
  }
}

.free-plan-btn {
  display: flex;
  align-items: center;
  gap: .5rem;
  height: auto;
  padding: 9px 16px;
  border-radius: 24px;
  background-color: #62c5ff;
  font-size: 14px;
  line-height: 1rem;
  font-weight: 700;
  color: #585a83;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #585a83;
  }

  .icon {
    font-family: 'Fa solid 900', sans-serif;
  }
}

.stats-header {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;

  h4 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    font-weight: 900;
    color: #585a83;
    margin: 4px 0;

    span {
      font-family: 'Font awesome 5 pro 400', sans-serif;
      font-size: 16px;
    }
  }
}

.dash-controls {
  display: flex;
  align-items: center;
  gap: .5rem;

  a {
    margin: 4px 0;
    padding: 6px 11px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 600;
    background-color: #3898ec;
    color: #fff;
    text-decoration: none;
    font-family: Fredoka, sans-serif;
  }
}

.stats-info {
  margin: 0;
  color: #b2b1c3;
  font-size: 14px;
  font-weight: 400;
}

.matrix {
  display: flex;
  margin-top: 9px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  flex-wrap: wrap;

  h5 {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 900;
  }

  .matrix-item {
    position: relative;
    display: flex;
    width: 50%;
    height: 120px;
    justify-content: center;
    align-items: stretch;
    flex: 0 0 auto;
  }

  .matrix-tag {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 6px;
    padding: 12px 21px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-radius: 6px;
    color: #fff;

    &.matrix-tag-sales {
      background-color: #62d189;
    }

    &.matrix-tag-views {
      background-color: #e29a57;
    }

    &.matrix-tag-rank {
      background-color: #6aa5e7;
    }

    &.matrix-tag-bounce {
      background-color: #f06868;
    }
  }
}