.login-form-wrapper {
  padding: 4.8rem 4.3rem;

  @media(max-width: 499px) {
    padding: 4.8rem 2rem;
  }
}

.login-form {
  margin-top: 6.25rem;

  @media(max-width: 991px) {
    margin-top: 4rem;
  }

  .btn {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: .5rem;
    border: 1px solid #ececec;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background: transparent;

      span {
        opacity: .8;
      }
    }

    span {
      display: inline-block;
      flex: 1;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      color: #72727d;
    }

    img {
      width: 19px;
      height: 19px;
      object-fit: contain;
    }
  }

  .btn-primary {

    &:hover,
    &:focus {
      background-color: rgba(117, 111, 228, .8);
    }
  }

  .btn-link {
    border: none;
    justify-content: center;
    color: #6f6f90;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-primary {
  background-color: #756fe4;
  color: #fff;
  justify-content: center;
  text-align: center;
  border: none;

  &:hover {
    background-color: rgba(117, 111, 228, .8);
  }
}

.login-header {
  display: flex;
  max-width: 325px;
  gap: 1rem;
  align-items: center;
  font-family: Fredoka, sans-serif;
  color: #59596b;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 2.6rem;
}

.switch-content {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eec413;
}

.input-group {
  border: 1px solid #e6e6e6;

  .form-control {
    border: none;
  }
}

.input-group-text {
  background: transparent;
  border: none;

  .bi {
    color: #3b476b;
    font-size: 20px;
    cursor: pointer;
  }
}

.form-control {
  border-radius: 3px;
  padding: 0px 12px;
  height: 54px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  appearance: none;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: #e6e6e6;
  }

  &::placeholder {
    color: #e6e6e6;
    opacity: 1;
    /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #e6e6e6;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #e6e6e6;
  }
}

.form-check-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .forget-text {
    color: #6f6f90;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.form-check {
  display: flex;
  align-items: center;
  min-height: auto;
  margin: 0;
  gap: .5rem;

  .form-check-input {
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid #4e8dff;
    cursor: pointer;
  }

  label {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
  }
}