.user-drodown-info {
  display: flex;
  align-items: center;
  gap: 1rem;

  .avatar-wrap {
    width: 45px;
    height: 45px;
    border: 2px solid #efefef;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0 #bbbbbb;
    overflow: hidden;
    cursor: pointer;
  }
}

.badge {
  padding: 5px 12px 5px 9px;
  border-radius: 24px;
  background-color: #a278fc;
  font-size: 11px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: #a278fc;
    box-shadow: none;
    outline: none;
  }
}

.badge-icon {
  font-family: 'Fa solid 900', sans-serif;
  font-size: 9px;
  display: inline-block;
}


.user-dropdown-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 15px;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
    }
  }

  .border-bottom,
  .border-top {
    border-color: #e6e6e6;
  }

  .icon-wrap {
    color: #b4afb9;
    font-size: 26px;
    font-weight: 400;
  }

  .info-wrap {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      display: block;
      color: #938fa8;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .bi-chevron-right {
    color: #b4afb9;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
  }
}

.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: #f8fafd;
  border-bottom: 1px solid #e6e6e6;

  .title {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1;
    margin: 0;
    font-size: 14px;
    font-weight: 900;
    color: #585a83;
  }

  .bi-chevron-left {
    color: #585a83;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

.wishlist-content {
  display: none;
}

.wishlist-empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;

  .img-wrap {
    width: 90px;
    height: 90px;
    padding: 0 0 1.3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  span {
    display: block;
    color: #585a83;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
  }
}

.organization-content {
  display: none;

  .notification-list {
    li {
      border-top: 0;
    }

    .link-text {
      font-size: 12px;
      color: rgba(111, 111, 144, 0.68);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .img-wrap {
      width: 68px;
      height: 52px;
      padding: 10px;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
    }
  }

  .notification-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 12px;
      font-weight: normal;
      color: rgba(111, 111, 144, 0.68);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.activate-content {
  display: flex;
  padding: 12px 0.9rem 12px 0.3rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;

  .activate-icon {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: 'Font awesome 5 pro solid 900', sans-serif;
    color: #b4afb9;
    font-size: 24px;

    strong {
      font-weight: 700;
    }
  }

  .activate-code {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0.3rem;
    padding-top: 19px;
    padding-bottom: 19px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .w-embed:after,
  .w-embed:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
  }

  .activate-input {
    outline: none;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: normal;
    border: 0px solid #B9C6D4;
    border-bottom: 1px solid #B9C6D4;
    color: #585a83;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 8px;
    margin-left: 0;
    text-align: center;
    text-transform: uppercase;
    box-shadow: none;
    transition: all .2s ease-out;
  }

  .w-button {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    background-color: #3898ec;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 1rem;
    font-weight: 700;
    cursor: pointer;
    height: 46px;
  }
}