.org__ {
  // .similar__item__main
  &item__main {
    flex: 1;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // .similar__item__name
  &item__name {
    line-height: 1rem;
    font-weight: $font-weight-extra-bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  &item__location {
    color: #aaa9c2;
    font-weight: $font-weight-bold;
    font-size: 11px;
  }

  &item__price {
    font-weight: $font-weight-bold;
    color: #45bb82;
  }

  &item-slider {
    @include media-breakpoint-up(sm) {
      width: 60px;
    }
  }
}
.price__slider {
  width: 225px;
}
@include media-breakpoint-down(sm) {
  .price__slider {
    width: 100%;
  }
}
.btn__sold {
  &:hover {
    background: transparent;
    color: $danger;
    cursor: default;
  }
}
.button__wrap {
  min-width: 85px;
}
.button__wrap > * {
  flex: 1;
}