.similar__ {

  // .similar__item__wrap 
  &item__wrap {
    &.active {
      background-color: $gray-100;
    }
  }

  // .similar__item__main
  &item__main {
    flex: 1;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // .similar__item__name
  &item__name {
    line-height: 1rem;
    font-weight: $font-weight-extra-bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  &item__location {
    color: #aaa9c2;
    font-weight: $font-weight-bold;
    font-size: 11px;
  }

  &item__price {
    font-weight: $font-weight-bold;
    color: #45bb82;
  }
}

.qty__tag {
  background: $gray-100;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  color: $gray-700;
  font-weight: $font-weight-semibold;
}
