.footer__category-title {
  color: #3d4279;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 36px;
}
.footer__links {
  max-height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__link {
  color: #8a8aab;

  &:hover {
    color: #6f6f90ad;
    text-decoration: underline;
  }
}

.footer__link-item {
  margin-bottom: 8px;
  font-size: 14px;
}
