.project__detail-main {
  color: $gray-700;
  max-width: 500px;
}

.project__detail-subtitle {
  font-size: 16px;
  font-weight: $font-weight-extra-bold;
}

.project__detail-price {
  font-weight: $font-weight-extra-bold;
}

.project__detail-meta {
  font-weight: $font-weight-semibold;
  color: #6f6f90ad;
}

.tag {
  width: 26px;
  height: 26px;
}

.tag__rounded {
  border-radius: 50%;
}

.tag__ongoing {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #a976f0;
  color: #fff;
}

.category__icons {
  gap: 12px;
}

.page__paragraph {
  color: #6f6f90ad;
  line-height: 1.6;
}

.sub__total {
  background-color: $gray-100;
  padding: 20px 28px;
  border-radius: 6px;
  line-height: 30px;
  color: $gray-700;
  display: flex;
  margin-bottom: 0.9rem;
}

.project__calculate {
  width: 100%;
  max-width: 250px;

}


