.help__banner {
  background-image: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/621fbd2a971cc27a3898b387_60e47ee6c4af646a50d5b8e3_hero-illustration.svg"),
    -webkit-gradient(linear, left top, left bottom, from(#314fe7), to(#314fe7));
  background-position: 50% 100%, 0 0;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
}

.help__search-wrap {
  max-width: 940px;
}
