.rounded-pill--xp {
  padding: 6px 9px !important;
  .icon__wrap {
    font-size: 10px
  }
}
.page__bar {
  max-width: 375px;
  min-height: 46px;
}
.page__progress {
  max-width: 180px;
}
.project__detail-label {
  font-weight: 900;
}
.product__badge {
  .list__item-img {
    height: 48px !important;
    width: 48px !important;
    min-height: 48px !important;
    border: none !important
  }
}
.project__detail-main {
  color: $gray-700;
  max-width: 500px;
}
.project__detail-title {
  font-size: 52px;
  line-height: 3rem;
  font-weight: 900;
  margin: 0.9rem 0;
}
.project__count {
  width: 35px;
  min-width: 35px;
}
.project__detail-subtitle {
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
  color: $gray-400;
  line-height: 2.3rem;
}

.project__detail-price {
  font-weight: $font-weight-extra-bold;
}

.project__detail-meta {
  font-weight: $font-weight-semibold;
  color: #6f6f90ad;
  padding-top: 9px;
  padding-bottom: 9px;
}
.project-video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-video-wrap {
  border: 1px solid #e6e6e6;
  background-color: #f8fafd;
  border-radius: 6px;
  padding-bottom: 56%;
  position: relative;
  overflow: hidden;
}
.tag {
  width: 26px;
  height: 26px;
}

.tag__rounded {
  border-radius: 50%;
}

.tag__ongoing {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #a976f0;
  color: #fff;
}

.category__icons {
  gap: 12px;
}
.page__blurb {
  font-weight: 900;
}
.page__paragraph {
  color: #6f6f90ad;
  line-height: 1.6;
  font-size: 16px;
}

.sub__total {
  background-color: $gray-100;
  padding: 20px 28px;
  border-radius: 6px;
  line-height: 30px;
  color: $gray-700;
  display: flex;
  margin-bottom: 0.9rem;
}

.project__calculate {
  width: 100%;
  max-width: 250px;
}

@media (min-width: 544px) {
  .project__calculate,
  .btn--addtocart {
    max-width: 100% !important;
  }
}
