.list__item-img {
  background-color: $gray-100;
  border-radius: 8px;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  min-height: 68px;
  border-radius: 9px;
  border: 1px solid #e6e6e6 img {
    display: flex;
    max-width: 65%;
    max-height: 65%;
  }
}
