.frontend_pages {
  .main-header {
    min-height: 80px;
    background: #fff;
    border-bottom: 1px solid $border-color;
    padding: 20px 0;
    font-size: 24px;
    position: sticky;
    top: 0;
    z-index: 100;

    .icon__btn {
      align-items: center;
      display: flex;
      width: 30px;

      .icon {
        color: #6f6f90;
        font-size: 24px;
      }

      .activity-icon {
        color: rgba(146, 157, 175, 0.6);
      }
    }
  }
}