@import "./animation";

$spacers: (
  0: 3,
  1: 6,
  2: 12,
  3: 20,
);

$props: (
  m: "margin",
  p: "padding",
);

$pos: (
  t: "top",
  b: "bottom",
  l: "left",
  r: "right",
);

// this creates utilities like .mt-3p, .mt-6p, .mt-12p, pt-3p, pt-6p, pt-12p, etc

// this loops through all spacers and props anc creates custom utilities
@each $key, $val in $spacers {
  // loop each properties
  @each $prop_key, $prop_val in $props {
    // loop each position
    @each $pos_key, $pos_val in $pos {
      .#{$prop_key}#{$pos_key}-#{$val}p {
        #{$prop_val}-#{$pos_val}: #{$val}px !important;
      }
    }
    .#{$prop_key}-#{$val}p {
      #{$prop_val}: #{$val}px !important;
    }

    .#{$prop_key}y-#{$val}p {
      #{$prop_val}-bottom: #{$val}px !important;
      #{$prop_val}-top: #{$val}px !important;
    }
    .#{$prop_key}x-#{$val}p {
      #{$prop_val}-left: #{$val}px !important;
      #{$prop_val}-right: #{$val}px !important;
    }
  }
}

$width: (
  0: 60,
  1: 150,
  2: 310,
  3: 400
);

@each $key, $val in $width {
  // loop each properties
  .w-#{$val} {
    width: #{$val}px !important;
  }
}

.fs-7 {
  font-size: 12px;
}

.fs-8 {
  font-size: 11px;
}

.fs-9 {
  font-size: 10px;
}

.heading-4 {
  font-family: Fredoka, sans-serif;
  font-size: 24px;
  font-weight: $font-weight-semibold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

.text-lighter {
  color: #bcbdc4;
}

.mr-12p {
  margin-right: 12px;
}

.flex__1 {
  flex: 1;
}

.fw-semibold {
  font-weight: 600 !important;
}

.bg-lighter {
  background-color: var(--bkg-shade) !important;
}

.text-subtext {
  color: var(--text-subtext);
}

.mw-600 {
  max-width: 600px;
}