@import '../../../../../assets/scss/components/list-table';

.post__value {
  width: 65px;
}
.project--btn {
  background: unset;
  color: inherit;
}
.table__list-item:last-child {
  border: none !important;
}
