// @import '@styles/scss/components/list-table';
@import '../../../../../assets/scss/components/list-table';

.szh-accordion__item-btn {
  background: unset;
  border: unset;
  color: inherit;
  width: 100%;
  text-align: start !important;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.chev-wrapper {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
