// @import '@styles/scss/components/list-table';
@import '../../../../../assets/scss/components/list-table';

.szh-accordion__item-btn {
  background: unset;
  border: unset;
  color: inherit;
  width: 100%;
  text-align: start !important;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.chev-wrapper {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-fluid.accordion-sublist > li {
  border-bottom: 1px solid #efefef;
}
.container-fluid.accordion-sublist > li:first-child {
  margin-top: 1.3rem;
}
.tax__left {
  width: 300px;
}
@include media-breakpoint-down(sm) {
  .tax__left {
    width: 100%;
    max-width: 100%;
  }
}
