.logo-name {
  display: flex;
  font-family: Fredoka, sans-serif;
  font-size: 29px;
  font-weight: 700;
}
.logo-span {
  margin-left: 3px;
  color: #6f6f91;
  font-weight: 700;
  font-size: 12px;
}

.logo-icon {
  width: 26px;
  height: 26px;
}

@include media-breakpoint-down(sm) {
  .logo-span {
    position: absolute;
    font-size: 9px;
    top: -3px;
    right: -6px;
  }
}
