
.logo-name {
  color: $body-color;
  display: flex;
  font-family: Fredoka, sans-serif;
  font-size: 29px;
  font-weight: 700;
}
.logo-span {
  margin-left: 3px;
  color: #6f6f91;
  font-weight: 700;
}

.logo-icon {
  width: 26px;
  height: 26px;
}
