.item__total-wrap {
  background: $gray-100;
  color: $success;
  padding: 16px 12px;
  font-weight: $font-weight-bold;
  font-size: 16px;
  border-radius: 6px;
}
.item__image-wrap {
  width: 46px;

  @include media-breakpoint-down(sm) {
    width: 36px;
  }
}

.order__widget {
  padding: 24px;
  border: 1px solid var(--border-input);
  border-radius: 8px;
}
