.select__single-value {
    font-weight: 600;
    color: inherit;
    font-size: 16px;
  }
  .input__label input, .input__label textarea {
    color: inherit !important
  }
  .select__control {
    border-color: #e6e6e6 !important;
  }