// @import "@styles/scss/components/list-table";
@import '../../../../../assets//scss/components/list-table';

.admin__billing-value {
  width: 46px;

  @include media-breakpoint-down(sm) {
    order: 2;
  }
}

.file__name {
  font-size: 13px;
}

.admin__tax-table {
  @include media-breakpoint-down(sm) {
    .btn__wrap {
      flex: 1;
    }

    .text__wrap {
      flex: 1;
    }
  }
}
.szh-accordion__item-btn {
  text-align: start !important;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
