.xp__btn-wrap {
  min-width: 120px;
}

.rank__list {
  .rank__item {
    @include media-breakpoint-down(sm) {
      border-bottom: 1px solid $border-color;
    }
  }
}
.rounded--pill {
  padding: 4px 12px 4px 9px !important;
  font-size: 11px;
}