// @import "../../../../assets/scss/components/dropdown";
@import '../../../../../assets/scss/components/dropdown';

.radius-container {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  overflow: hidden;
  .radius-circle {
    position: absolute;
    background: rgba(29, 161, 242, 0.2);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(29, 161, 242, 0.4);
    @include media-breakpoint-down(sm) {
      height: 275px;
      width: 275px;
    }
  }
}

.geo__dropdown {
  .mapboxgl-map {
    background: #fff;
    height: 300px;
  }
}

.input-group__alpha {
  .input-group-text {
    background: none;
    border: none;
    color: #6f6f90ad;
  }

  .form-control {
    background-color: transparent;
    border: none;
    padding-left: 0;

    &:focus {
      background-color: transparent;
    }
  }
}

.geo__distance {
  display: flex;
  flex: 0 0 auto;
  font-size: 16px;
  font-weight: $font-weight-bold;
}

.mapboxgl-ctrl__scale {
  color: $gray-700;
}

.geo__lock {
  width: 52px;
}

.geo_dropdown-top {
  padding: 13px 0;
}

.geo__slider {
  padding: 20px 40px;
  .rc-slider {
    height: 9px;
    padding: 0;
  }
  .rc-slider-track {
    height: 9px;
  }
  .rc-slider-disabled > .rc-slider-rail {
    z-index: -1;
  }
}
.mapbox-searchicon {
  fill: #6f6f91;
  font-size: 19px;
}
