@import './animation';

$spacers: (
  0: 3,
  1: 6,
  2: 12,
);

$props: (
  m: "margin",
  p: "padding",
);

$pos: (
  t: "top",
  b: "bottom",
  l: "left",
  r: "right",
);

// this loops through all spacers and props anc creates custom utilities
@each $key, $val in $spacers {
  // loop each properties
  @each $prop_key, $prop_val in $props {
    // loop each position
    @each $pos_key, $pos_val in $pos {
      .#{$prop_key}#{$pos_key}-#{$val}p {
        #{$prop_val}-#{$pos_val}: #{$val}px !important;
      }
    }
    .#{$prop_key}-#{$val}p {
      #{$prop_val}: #{$val}px !important;
    }

    .#{$prop_key}y-#{$val}p {
      #{$prop_val}-bottom: #{$val}px !important;
      #{$prop_val}-top: #{$val}px !important;
    }
    .#{$prop_key}x-#{$val}p {
      #{$prop_val}-left: #{$val}px !important;
      #{$prop_val}-right: #{$val}px !important;
    }
  }
}

.text-dark {
  color: $gray-500 !important;
}
