.item__total-wrap {
  background: $gray-100;
  color: $success;
  padding: 16px 12px;
  font-weight: $font-weight-bold;
  font-size: 16px;
  border-radius: 6px;
}
.szh-accordion__item-btn {
  text-align: start !important;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.szh-accordion:not(:first-child) {
  border-top: 1px solid #efefef;
}
.table__list--content:first-child {
  margin-top: 0.3rem;
}
