.container-fluid {
  @include media-breakpoint-up(lg) {
    max-width: 980px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1200px;
  }
  @include media-breakpoint-up(xxl) {
    max-width: 1440px;
  }
}
