html,
body {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $white;
  color: $body-text-color;
  font-size: $font-size;
  font-family: $font-family--primary;
  text-rendering: optimizeLegibility;
  height: 100%;
}

.bg-container {
  min-height: calc(100vh - 38px);
  background: linear-gradient(to right,
      #f8fafd 0%,
      #f8fafd 50%,
      #fff 50%,
      #fff 100%);

  @media(max-width: 991px) {
    background: none;
  }
}

.clear {
  clear: both;
}