body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

body {
  --bkg-color: #fff;
  --text-subtext: #6f6f90ad;
  --border-input: #{$border-color};
  --bkg-shade: #{$gray-100};
}
