.settings-tabs {
  width: 60px;

  .stab__btn {
    color: $gray-700;
    cursor: pointer;
    font-weight: $font-weight-bold;
    line-height: 1;
    padding: 22px 22px 22px 8px;
    margin: 8px 0;
    justify-content: start;
    width: auto;

    &.active {
      .tab__active--indicator {
        display: block;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .stab__icon {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 24px;
    margin-right: 16px;
  }

  .tab__active--indicator {
    display: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #756fe4;
    margin-left: auto;
  }
}

.stab__text {
  display: none;
}

@media screen and (min-width: 990px) {
  .stab__text {
    display: block;
  }

  .settings-tabs {
    width: 200px;
  }
}

@include media-breakpoint-down(md) {
  .settings-tabs {
    width: auto;

    .stab__icon {
      margin: 0;
      font-size: 22px;
    }

    .nav {
      display: flex;
      justify-content: space-between;
    }

    .stab__btn {
      padding-right: 8px;
      margin: 0;

      &.active {
        color: $success;

        .tab__active--indicator {
          display: none;
        }
      }
    }
  }
}
