

.circle__progress {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: relative;
}

.circle__progress-img {
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 46px / 2);
  top: calc(50% - 46px / 2);
  width: 46px;
  height: 46px;
  background: #fff;
  text-align: center;
  display: table;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
